<a href="https://colab.research.google.com/github/Chandini24698/portfolio/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, Google Colab!")

Hello, Google Colab!

In [2]:
!pip install numpy pandas matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
print("Hello, my name is Chandini")

Hello, my name is Chandini

In [6]:
print("Hello, my name is Chandini\nWelcome to Python Learning!")

Hello, my name is Chandini
Welcome to Python Learning!

In [15]:
#I am 27 years old and I live in Berlin.
age=27
city = "Berlin"
print("I am {} years old and I live in {}.".format(age,city))

I am 27 years old and I live in Berlin.

In [19]:
#Input (example):

name = "Alice"       # string
age = 25             # integer
height = 5.6         # float
is_student = True    # boolean
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [21]:
favourite_colour=input("Enter your favorite color: ")
print(f"Your favorite color is {favourite_colour}!")

Enter your favorite color: Blue
Your favorite color is Blue!

In [23]:
favourite_color=input("Choose your Favourite colour:")
favourite_subject=input("tell your favourite subject:")
print(f"My favourite colour is {favourite_color} and favourite subject is {favourite_subject}!")

Choose your Favourite colour:blue
tell your favourite subject:science
My favourite colour is blue and favourite subject is science!

In [29]:
var1=10
var2=20
result=var1+var2
print(f"The sum is :{result}")

The sum is :30

In [32]:


Name = "Rohan"
Age =22
print("Hello {},you are {} years old.".format(Name,Age))

Hello Rohan,you are 22 years old.