<a href="https://colab.research.google.com/github/Chandini24698/portfolio/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, Google Colab!")

Hello, Google Colab!

In [ ]:
!pip install numpy pandas matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
print("Hello, my name is Chandini")

Hello, my name is Chandini

In [ ]:
print("Hello, my name is Chandini\nWelcome to Python Learning!")

Hello, my name is Chandini
Welcome to Python Learning!

In [ ]:
#I am 27 years old and I live in Berlin.
age=27
city = "Berlin"
print("I am {} years old and I live in {}.".format(age,city))

I am 27 years old and I live in Berlin.

In [ ]:
#Input (example):

name = "Alice"       # string
age = 25             # integer
height = 5.6         # float
is_student = True    # boolean
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
favourite_colour=input("Enter your favorite color: ")
print(f"Your favorite color is {favourite_colour}!")

Enter your favorite color: Blue
Your favorite color is Blue!

In [ ]:
favourite_color=input("Choose your Favourite colour:")
favourite_subject=input("tell your favourite subject:")
print(f"My favourite colour is {favourite_color} and favourite subject is {favourite_subject}!")

Choose your Favourite colour:blue
tell your favourite subject:science
My favourite colour is blue and favourite subject is science!

In [ ]:
var1=10
var2=20
result=var1+var2
print(f"The sum is :{result}")

The sum is :30

In [ ]:


Name = "Rohan"
Age =22
print("Hello {},you are {} years old.".format(Name,Age))

Hello Rohan,you are 22 years old.

In [ ]:
a=27
c="berlin"
#print("I am {} years old and I live in {}.".format(a,c))
#print(f"Iam {a} years old and I live in {c}")
print ("Iam" +str(a))

Iam27

In [ ]:
color=input("Enter ur fav color here: ")
print(f"Youe Fav color is {color} !")

Enter ur fav color here: Red
Youe Fav color is Red !

In [ ]:
#list
city =["Nagpur","Delhi","Chennai","Erode","Kerala"]
print(city)
print(city[1], city[3])
city1= 'Berlin'
city[2]=city1
print(city)
city[-1]='Munich'
print(city)
del city[0]
print(city)

['Nagpur', 'Delhi', 'Chennai', 'Erode', 'Kerala']
Delhi Erode
['Nagpur', 'Delhi', 'Berlin', 'Erode', 'Kerala']
['Nagpur', 'Delhi', 'Berlin', 'Erode', 'Munich']
['Delhi', 'Berlin', 'Erode', 'Munich']

In [ ]:
#Tuples
program=["C","java","python","javascript","selenium"]
print(program)
print(program[1])
print(program[2])
print(program)
program_list=list(program)
program_list[1]="Kotlin"
program=tuple(program_list)
print(program)
del program

['C', 'java', 'python', 'javascript', 'selenium']
java
python
['C', 'java', 'python', 'javascript', 'selenium']
('C', 'Kotlin', 'python', 'javascript', 'selenium')

In [ ]:
#Dictionary
student={"name": "chandini" ,"age" : 26, "course" : "German"}
print(student)
student["age"]=25
student["grade"]="A"
print(student)
del student["course"]
print(student)
student.clear()
print(student)

{'name': 'chandini', 'age': 26, 'course': 'German'}
{'name': 'chandini', 'age': 25, 'course': 'German', 'grade': 'A'}
{'name': 'chandini', 'age': 25, 'grade': 'A'}
{}

In [ ]:
fruits = ["Apple", "Banana", "Grapes", "Pineapple", "Papaya"]
print(fruits)
fruits[3]="Mango"
print(fruits)
fruits.append("orange")
print(fruits)
del fruits[0]
print(fruits)

['Apple', 'Banana', 'Grapes', 'Pineapple', 'Papaya']
['Apple', 'Banana', 'Grapes', 'Mango', 'Papaya']
['Apple', 'Banana', 'Grapes', 'Mango', 'Papaya', 'orange']
['Banana', 'Grapes', 'Mango', 'Papaya', 'orange']

In [ ]:
from docx import Document

# Create CV document
cv = Document()
cv.add_heading('Dharanidharan GV', 0)
cv.add_paragraph('üìç Erlangen, Germany | üìß dharanidharan.gv.2412@gmail.com | üì± +49 176 27769891')
cv.add_paragraph('üîó LinkedIn: linkedin.com/in/dharanidharan | GitHub: github.com/dharanidharan')

cv.add_heading('Profile', level=1)
cv.add_paragraph('MSc Data Science student at FAU Erlangen-N√ºrnberg with 4+ years of professional experience in QA, automation, and data workflows. Skilled in Python, SQL, ETL pipelines, and dashboard development. Experienced in building automated data pipelines, validating datasets, and developing analytics solutions. Passionate about contributing to AI-driven data engineering projects in Werkstudent roles.')

cv.add_heading('Core Skills', level=1)
skills = cv.add_paragraph()
skills.add_run('Data Engineering & Analytics: ').bold = True
skills.add_run('Python (Pandas, NumPy), SQL, ETL pipelines, data preprocessing, dashboards, Power BI
')
skills.add_run('QA & Automation: ').bold = True
skills.add_run('Automated QA pipelines, test reporting, GUI testing (Selenium/Squish), Jenkins
')
skills.add_run('Machine Learning: ').bold = True
skills.add_run('Scikit-learn, TensorFlow (classification, prediction, fraud detection)
')
skills.add_run('Tools & Collaboration: ').bold = True
skills.add_run('Git/GitLab, Jira, Confluence, MS Teams, Docker (basic)
')
skills.add_run('Languages: ').bold = True
skills.add_run('English (Fluent), German (Basic ‚Äì A2)')

cv.add_heading('Professional Experience', level=1)
experiences = [
    ('Technology Analyst ‚Äì QA & Automation | HCL Technologies, Chennai | Jun 2024 ‚Äì Apr 2025', [
        'Automated QA and reporting workflows using Python, saving 4+ hours weekly',
        'Standardized QA documentation and processes for cross-functional teams',
        'Integrated datasets for automated dashboards supporting team analytics'
    ]),
    ('Team Lead ‚Äì QA & Automation | HCL Technologies, Chennai | Nov 2023 ‚Äì Jun 2024', [
        'Managed QA pipelines and automated testing for multiple projects',
        'Implemented low-code automation solutions to optimize workflow efficiency'
    ]),
    ('Senior Systems Engineer ‚Äì Data Analytics & Automation | HCL Technologies, Chennai | Jan 2022 ‚Äì Nov 2023', [
        'Built Python-based dashboards and validation pipelines for QA and data analytics',
        'Optimized reporting processes through automation scripts and structured documentation'
    ]),
    ('Systems Engineer ‚Äì Reporting & Automation | HCL Technologies, Remote | Aug 2020 ‚Äì Jan 2022', [
        'Designed automated dashboards and reports to enhance data reliability',
        'Conducted manual and automated QA checks to ensure workflow quality'
    ])
]

for role, tasks in experiences:
    cv.add_paragraph(role, style='List Bullet')
    for t in tasks:
        cv.add_paragraph(t, style='List Number')

cv.add_heading('Education', level=1)
cv.add_paragraph('MSc Data Science | FAU Erlangen-N√ºrnberg, Germany | Mar 2025 ‚Äì Present')
curr_projects = cv.add_paragraph()
curr_projects.add_run('Projects: ').bold = True
curr_projects.add_run('Fraud detection (ML), Customer churn prediction, Image classification (CNNs)')
cv.add_paragraph('BEng Computer Science | Sri Krishna College of Technology, India | 2015 ‚Äì 2019')

cv.add_heading('Projects', level=1)
projects = [
    'Fraud Detection with ML: Built classification models using Scikit-learn for imbalanced datasets',
    'Customer Churn Prediction: Applied ML models to telecom data using Python & Pandas',
    'Interactive Power BI Dashboard: Designed dashboards for business KPI visualization',
    'ETL Pipeline Project (FAU): Automated ingestion and cleaning of structured and unstructured datasets using Python and SQL'
]
for p in projects:
    cv.add_paragraph(p, style='List Bullet')

cv.add_heading('Interests', level=1)
cv.add_paragraph('Data Engineering | ETL Automation | Python Scripting | Workflow Optimization | Data-Driven Insights')

cv.save('/mnt/data/Dharanidharan_CV_ProSiebenSat1.docx')

# Create Cover Letter document
cover = Document()
cover.add_heading('Dharanidharan GV', 0)
cover.add_paragraph('üìç Erlangen, Germany | üìß dharanidharan.gv.2412@gmail.com | üì± +49 176 27769891')
cover.add_paragraph('üîó LinkedIn: linkedin.com/in/dharanidharan | GitHub: github.com/dharanidharan')
cover.add_paragraph('Date: [Insert Date]')
cover.add_paragraph('To: Hiring Team, ProSiebenSat.1')
cover.add_paragraph('Subject: Application ‚Äì Working Student Data Engineering')

cover.add_paragraph('Dear Hiring Team,')
cover.add_paragraph('I am currently pursuing an MSc in Data Science at FAU Erlangen-N√ºrnberg, where I develop ML and analytics projects involving Python, SQL, and ETL pipelines. With 4+ years of experience in IT automation and QA at HCL Technologies, I have built automated data workflows, dashboards, and validation pipelines, gaining hands-on experience with data integration and reporting.')
cover.add_paragraph('I am excited by the opportunity to contribute to ProSiebenSat.1‚Äôs Strategy & AI Innovation team, supporting AI integration and building efficient data pipelines for marketing applications. My experience in Python, SQL, ETL, and dashboard development aligns well with your focus on ingesting and processing large datasets, optimizing pipelines, and implementing proof-of-concepts for AI tools.')
cover.add_paragraph('I am available for 20 hours per week and eager to bring my technical expertise, problem-solving skills, and enthusiasm for data-driven innovation to your team. I would welcome the opportunity to discuss how I can contribute to your projects.')
cover.add_paragraph('Thank you for considering my application.')
cover.add_paragraph('Best regards,')
cover.add_paragraph('Dharanidharan GV')

cover.save('/mnt/data/Dharanidharan_CoverLetter_ProSiebenSat1.docx')

SyntaxError: unterminated string literal (detected at line 15) (ipython-input-2250195281.py, line 15)

In [2]:
#if condition
n=7
if n%2==0:
  print(f"{n} is even")
else:
  print(f"{n} is odd")

SyntaxError: expected ':' (ipython-input-1864463795.py, line 3)

In [6]:
n=7
if n%2==0 :
  print(f"{n} is even")
else:
   print(f"{n} is odd")

7 is odd

In [ ]:
i=3

for(i in range(1,10)):
  print